@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Vollkorn', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
    margin: 0;
}
html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1{
    font-size: 2rem;
}
@media only screen and (min-width: 600px) {
    h1{
        font-size: 5rem;
    }
}
